@model FinalProject.Models.Contact

@{
    ViewData["Title"] = "צור קשר";
}

<!-- *****************************************************************************************************************
     BLUE WRAP
     ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>צור קשר.</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->
<!-- *****************************************************************************************************************
 CONTACT WRAP
 ***************************************************************************************************************** -->
<div id="contactwrap"></div>

<!-- *****************************************************************************************************************
 CONTACT FORMS
 ***************************************************************************************************************** -->
<div class="container mtb">
    <div class="row">
        <div class="col-lg-8" id="formSection">            
            <h4>צרו איתנו קשר בפשטות!</h4>
            <div class="hline"></div>
            <p>אנו מוכנים לשמוע כל הצעת שיפור או תלונה על השירות באתר ולטפל בכם מכל הלב</p>
            <div class="loader" id="progress" style="display:none"> </div>
            <form method="post" role="form" id="contactForm">
                <div class="form-group">
                    <label for="Name">השם שלך</label>
                    <input asp-for="Name" class="form-control" id="Name">
                    <span asp-validation-for="Name" class="text-danger" />
                </div>
                <div class="form-group">
                    <label for="Email">כתובת מייל</label>
                    <input asp-for="Email" class="form-control" id="Email">
                    <span asp-validation-for="Email" class="text-danger" />
                </div>
                <div class="form-group">
                    <label for="Subject">נושא</label>
                    <input asp-for="Subject" class="form-control" id="Subject">
                    <span asp-validation-for="Subject" class="text-danger" />
                </div>
                <div class="form-group">
                    <label for="Message">הודעה</label>
                    <input asp-for="Message" class="form-control" id="Message">
                    <span asp-validation-for="Message" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-theme">שלח</button>
            </form>
        </div><! --/col-lg-8 -->

        <div class="col-lg-4">
            <h4>הכתובת שלנו</h4>
            <div class="hline"></div>
            <p>
                אלי ויזל, 2<br />
                ראשון לציון<br />
                ישראל<br />
            </p>
            <p>
                מייל: pizza_planet@gmail.com<br />
                טלפון: 777-777-777
            </p>
        </div>
    </div><! --/row -->
</div><! --/container -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('#contactForm').submit(function (e) {

            // Prevent default submit button behavior
            e.preventDefault();

            // Display loading animation
            $('#progress').show();

            $('#contactForm').hide();

            $.ajax({
                url: '/Contact/Create',
                type: 'POST',
                async: true,
                data: {
                    name: $('#Name').val(),
                    email: $('#Email').val(),
                    subject: $('#Subject').val(),
                    message: $('#Message').val() },
                complete: function (response) {
                    setTimeout(function () { $('#formSection').html(response.responseText) }, 2000);
                }
            });
        });
    </script>
}
